@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    /* bg colors */
    --background: #02050e;
    --primary:#1e50ff;
    --secondary: #272d37;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;
    --nav-logo:#3e3e3e;
    --bg-hero:#d3d3d3;

    /* text colors */
    --text:#232323;
    --text-gray: #adb9c7;
    --text-white: #f3f4f6;

    /* decoration */

    --fire: #ff6d00;
    --electric: #64d3ff;

    /*fuentes*/
    --font:'Poppins', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    
}

header{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--nav-logo);
    position: fixed;

}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 1rem;
    justify-content: flex-start;
    margin: 3px 50px;
}
.carrito{
    width: 35px;
}
nav{
    display: flex;
    align-items: center;
    padding: 0px 50px;
    gap: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
.nav__UL{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 30px;
    padding-right: 8%;
}



.nav__link a {
    list-style: none;
    text-decoration: none;
    color: var(--text-white);
}

.nav__UL span:first-child{
    font-weight: 800;
}

#hero{
    height: 92vh;
    background-color: #d3d3d3;
    padding-left: 13%;
    padding-right: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-img{
    height: 400px;
}
.hero-text{
    font-family: var(--font);
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 10px;
    text-align: center;
}
h1{
    font-weight: 1000;
    font-size: 50px;
}
button{
    width:20%;
    height: 30px;
    background-color: var(--nav-logo);
    border: none;
    border-radius: 1rem;
    margin-top: 15px;
}
button a {
    color: var(--bg-hero);
}
.botones{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.tienda{
    width: 120px;
    background-color: var(--bg-hero);

}
.tienda a{
    color: var(--nav-logo);
    border: 2px solid var(--nav-logo);
    padding: 6px;
    border-radius: 1rem;
}
#info{
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    background-color: var(--bg-hero);
    padding: 50px 300px;
}
.call-to-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 300px;
    padding-top: 100px;
    gap: 40px;
    background-color: var(--bg-hero);
}
.cta-card-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.cta-title{
    font-family: var(--font);
    font-weight: 800;
    font-size: 25px;
    text-align: center;
}
.cta-card img{
    width: 30px;
}
.cta-card{
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-family:var(--font) ;
    font-size: 12px;
    background-color: var(--nav-logo);
}
.cta-card p{
    color: var(--#262620);
}
span{
    font-weight: 800;
}