@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    /* bg colors */
    --background: #02050e;
    --primary:#1e50ff;
    --secondary: #272d37;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;
    --nav-logo:#3e3e3e;
    --bg-hero:#d3d3d3;

    /* text colors */
    --text:#232323;
    --text-gray: #adb9c7;
    --text-white: #f3f4f6;

    /* decoration */

    --fire: #ff6d00;
    --electric: #64d3ff;

    /*fuentes*/
    --font:'Poppins', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    
}
main{
    background-color: var(--bg-hero);
}

header{
    top: 0;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--nav-logo);
    position: fixed;

}

.hmb-menu{
    display: none;
    box-shadow: 0px 8px 40px rgba(0,0,0,0.4);
}
.navbar i{
    font-size: 20px;
    display: none;
}
#toggle-menu{
    display: none;
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 1rem;
    justify-content: flex-start;
    margin: 3px 50px;
}
.carrito{
    width: 35px;
}
nav{
    display: flex;
    align-items: center;
    padding: 0px 50px;
    gap: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
.nav__UL{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 30px;
    padding-right: 8%;
}



.nav__link a {
    list-style: none;
    text-decoration: none;
    color: var(--text-white);
}

.nav__UL span:first-child{
    font-weight: 800;
}

#hero{
    height: 92vh;
    background-color: #d3d3d3;
    padding-left: 13%;
    padding-right: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-img{
    height: 400px;
}
.hero-text{
    font-family: var(--font);
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 10px;
    text-align: center;
}
h1{
    font-weight: 1000;
    font-size: 50px;
}
button{
    width:20%;
    height: 30px;
    background-color: var(--nav-logo);
    border: none;
    border-radius: 1rem;
    margin-top: 15px;
}
button a {
    color: var(--bg-hero);
}
.botones{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.tienda{
    width: 120px;
    background-color: var(--bg-hero);

}
.tienda a{
    color: var(--nav-logo);
    border: 2px solid var(--nav-logo);
    padding: 6px;
    border-radius: 1rem;
}
#info{
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    background-color: var(--bg-hero);
    padding: 50px 300px;
}
#call-to-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px ;
    padding-top: 100px;
    gap: 40px;
    background-color: var(--bg-hero);
    
}
.cta-card-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.cta-title,
.prod-title{
    font-family: var(--font);
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}
.cta-card img{
    width: 30px;
}
.cta-card h3{
    color: var(--text-gray);
}
.cta-card{
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-family:var(--font) ;
    font-size: 12px;
    background-color: var(--nav-logo);
}
.cta-card p{
    color: var(--text-gray);
}
span{
    font-weight: 800;
}
#products{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px px;
    padding-top: 100px;
    gap: 40px;
    background-color: var(--bg-hero);
    
}
.btn-container{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    

}
.bnt-category{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 40px;
    align-items: center;
}
.active{
    background-color: var(--primary);
}
.prod-container-tablet{
    display: none;
}
.SL{
    display: none;
}
.prod-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.prod-gral{
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    color: var(--bg-hero);
    align-items: center;
    font-size: 20px;
}
.prod-img{
    height: 250px;
    display: flex;
    align-items: center;
}
.prod-card{
    padding: 20px 15px;
    border-radius: 1rem;
    background-color: var(--nav-logo);
    display: flex;
    font-size: 16px;
    width: 450px;
    height: 307.26px;
    gap: 5px;
}
.prod-info{
    display: flex;
    flex-direction: column;
    gap: 19px;
    font-family: var(--font);
}
.first-line{
    font-weight: 800;
    color: var(--text-gray);
}
.btn-container{
    gap: 5px;
}
.prod-btn{
    font-size: 12px;
    padding: 10px 20px;
    border: 1px solid var(--text);
    border-radius: 1rem;
    cursor: pointer;
}
.buy{
    background-color: var(--text);
    color: var(--bg-hero)
}
.more{
    display: inline-block;
    padding-bottom: 30px;
    color: var(--text);
    font-family: var(--font);
    text-decoration: underline;
}
footer{
    background-color: var(--bg-hero);
    color: var(--text);
    font-family: var(--font);
    display: flex;
    padding: 80px 0px;
    justify-content: space-evenly;
    font-weight: 200;
}
.footer-list{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}


/*pc*/
@media (max-width: 1200px){

}
/*tablet*/
@media (max-width:992px){
    header{
        padding: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
    }
    .nav__UL{
        padding: 0;
    }
    .carrito{
        display: none;
    }
    #hero{
        flex-direction:column-reverse;
        position: relative;
        top: 0;
        z-index: 1;
        padding: 0;
        height: 95vh;
    }
    .hero-img{
        padding-top: 50px;
    }
    .hero-text{
        display: flex;
        position: relative;
        top: -50px;
    }
    #info{
        padding: 100px 20px 50px 20px;
    }
    .call-to-action{
        padding: 50px 10px;
    }
    .prod-container{
        display: none;
    }
    .prod-container-tablet{
        display: flex;
        gap: 50px;
        width: 100%;
        justify-content: space-around;
    }
    .FL{
        display: flex;
        gap: 20px;
    }
    .SL{
        display: flex;
        gap: 20px;
    }
    .prod-card{
        width: 250px;
        display: flex;
        flex-direction: column;
        height: 550px;
    }
    .cta-title{
        padding: 0px 50px 0px 50px;
        font-size: 27px;
    }
    .cta-card-container{
        display: flex;
        flex-direction: column;
    }
    .cta-card{
        width: 75vw;
    }
    .cta-card img{
        width: 50px;
    }
    .cta-card h3{
        font-size: 20px;
    }
    .cta-card p{
        font-size: 14px;
    }
    .medio h3{
        font-size: 18px;
    }
    .medio p{
        font-size: 13px;
    }
}
/*celu grande */
@media (max-width: 600px){
    .header{
        display: none;
    }
    .carrito{
        display: none;
    }
    .hmb-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .nav__UL{
        background-color: var(--nav-logo);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 40px);
        position: absolute;
        left: 0;
        top: 40px;
        justify-content: space-around;
        align-items: center;
        display: none;
    }
    main{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    .navbar i {
        display: block;
    }
    #toggle-menu:checked ~ .nav__UL{
        display: flex;
    }
    
    .FL{
        gap: 5px;
        padding-bottom: 0;
    }
    .SL{
        gap: 5px;
    }
}

/*celu chico*/
@media (max-width:530px){
    main{
        width:100%;
    }
    .hmb-menu{
        width: 100%;
    }
    .hero-img{
        padding-top: 80px;
    }
    .hero-text p{
        display: none;
    }
    .prod-container-tablet{
        gap: 0;
        display: flex;
        flex-direction: column;
    }
    #products{
        gap:0;
    }
    .prod-title{
        margin:0px 5px 30px 5px;
        font-size: 20px;
    }
    .prod-container{
        gap: 0;
        padding: 0;
    }
    .prod-card{
        gap: 0;
        padding: 0;
    }
    .btn-container{
        display: flex;
        flex-direction: row;
    }
    .FL{
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .SL{
        padding-bottom: 80px;
        padding-top: 5px;
        display: flex;
        flex-direction: column;
    }
    
}
/*XXS*/
@media (max-width:500px){
    .hmb-menu{
        margin: 0;
        display: flex;
        justify-content: flex-start;
    }
    .btn-container{
        display: flex;
        flex-direction:column;
    }
    .prod-info{
        gap: 10px;
    }
}
